# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment files
.env

# VSCode / IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Migrations (opsional, kalau mau diabaikan)
# **/migrations/
